html,
body {
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
}

.container1 {
	height: 100%;
}

.row {
	height: 93.5%;
	margin-bottom: 0;
}

.row .col {
	padding-right: 0;
}

.col.s10 {
	height: 100%;
}

#map {
	height: 100%;
	width: 100%;
}

#filter {
	height: 100%;
}

#center {
	text-align: center;
}

#icon {
	display: inline-block;
}

#address {
	display: inline-block;
	vertical-align: top;
	margin-left: 1em;
}

#attribution {
	-webkit-margin-before: 0;
	-webkit-margin-after: 0;
}

img {
	padding: 5px;
}

p {
	-webkit-margin-before: 0;
	-webkit-margin-after: 0;
}

/*Overide materialize - collection text color*/
.collection a.collection-item {
  color: #000000;
}

nav .brand-logo {
	margin-left: 1em;
}